
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Messenger Clone</title>

    <style>
        body {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f8f8f8;
        }

        #messenger-container {
            max-width: 400px;
            margin: 50px auto;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            overflow: hidden;
            font-size: 14px;
        }

        #header {
            background-color: #4267b2;
            color: #fff;
            padding: 10px;
            text-align: center;
        }

        #chat-container {
            padding: 10px;
            overflow-y: scroll;
            max-height: 400px;
        }

        .message {
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .message p {
            background-color: #e9ebee;
            padding: 10px;
            border-radius: 10px;
            display: inline-block;
            max-width: 70%;
            word-wrap: break-word;
            margin-bottom: 5px;
        }

        .message.sent p {
            background-color: #0084ff;
            color: #fff;
            align-self: flex-end;
        }

        .message.sent {
            align-items: flex-end;
        }

        #input-container {
            display: flex;
            align-items: center;
            background-color: #f8f8f8;
            padding: 10px;
        }

        #message-input {
            flex-grow: 1;
            padding: 10px;
            border: none;
            border-radius: 20px;
            outline: none;
            margin-right: 10px;
        }

        #send-button {
            width: 40px;
            height: 40px;
            padding: 5px;
            background-color: #0084ff;
            color: #fff;
            border: none;
            border-radius: 10%;
            cursor: pointer;
        }

        .room-id {
            margin-left: 4px;
            text-align: center;
        }

        .start-chat {
            width: 80px;
            height: 40px;
            padding: 5px;
            background-color: #0084ff;
            color: #fff;
            border: none;
            border-radius: 10%;
            cursor: pointer;
        }

        .container {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-around;
          
        }
    </style>
</head>

<body>
    <input class="start-chat" id="room-chat" data-roomId="<%= id %>" hidden />

    
    <div class="container">
        <div>
            <h1 class="room-id">RoomId : <%= id %>
            </h1>
        </div>
        <div>
            <h1 class="active-connection">
                Online User : <span id="active-user"></span>
            </h1>
        </div>

        <div>
            <h1 id="username-id" data-username="<%=username%>">
                Login as :<%=username%>
            </h1>
        </div>
    </div>

    <div id="messenger-container">
        <div id="header">Messenger</div>
        <div id="chat-container">
            <% for (var i=0; i < chats.length; i++) { %>
                <% if (chats[i].user===username) { %>
                    <div class="message sent">
                        <p><strong>You:</strong>
                            <%= chats[i].content %>
                        </p>
                    </div>
                    <% } else { %>
                        <div class="message">
                            <p><strong>
                                    <%= chats[i].user %>:
                                </strong>
                                <%= chats[i].content %>
                            </p>
                        </div>
                        <% } %>
                            <% } %>
        </div>
        <div id="input-container">
            <input type="text" id="message-input" placeholder="Type your message..." />
            <button id="send-button">Send</button>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>

    <script>
        const socket = io();

        const msgList = document.createElement("li");
        const msgBox = document.getElementById("message-input");
        const form = document.getElementById("form");
        const btn = document.getElementById("send-button");
        const msgContainer = document.getElementById("chat-container");
        const roomChat = document.getElementById("room-chat");
        const usernameId = document.getElementById("username-id");
        const usernameInput = document.getElementById("username-input");
        const setUsername = document.getElementById("set-username");
        const activeUser = document.getElementById("active-user");

        

        socket.emit("join_room", {
            roomId: roomChat.getAttribute("data-roomId"),
        });

        const username = usernameId.getAttribute("data-username");
        btn.onclick = () => {
            socket.emit("msg_send", {
                msg: msgBox.value,
                username: usernameId.getAttribute("data-username"),
                roomId: roomChat.getAttribute("data-roomId"),
            });

            msgBox.value = "";
            console.log("clicked");
        };

        socket.on('active_user', (data)=>{
            console.log(data);
            activeUser.innerText= data;
        })  

        socket.on("msg_received", (data) => {
            console.log("data " + data);

            const div = document.createElement("div");
            const para = document.createElement("p");

            if (data.username === username) {
                para.innerHTML = `<strong>You:</strong> ${data.msg}`;
                div.setAttribute("class", "message sent");
            } else {
                para.innerHTML = `<strong>${data.username}:</strong> ${data.msg}`;
                div.setAttribute("class", "message");
            }

            console.log(div);
            console.log(para);

            div.appendChild(para);

            msgContainer.appendChild(div);

            msgContainer.scrollTo(0, msgContainer.scrollHeight);
        });
    </script>
</body>

</html>